* {
  margin: 0;
  padding: 0;

}


.navbar {
  display: flex;
  width: 100%;


}

.first {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  width: 20%;
}

.heading {
  display: block;

}

.icon {
  padding: 10px;

}

.secound {
  align-content: center;
  width: 60%;
  display: flex;
  padding-top: 15px;
}

.search {
  width: 540px;
  height: 40px;
  padding: 20px;
  border-radius: 30px 0px 0px 30px;
  border: 1px solid #b2a5a5;
  font-size: 18px;
}

.cercle {
  align-content: center;
  background-color: #d3d3d3;
  padding: 0 20px;
  height: 42px;
  border-radius: 0 30px 30px 0;
}

.mic {
  padding: 6px;
  background-color: #d3d3d3;
  height: 30px;
  border-radius: 44px;
  margin-left: 20px;
}

.cam {
  width: 20%;
  align-content: center;
  padding: 5px;
  display: flex;
  margin-left: 15px;
}

.a {
  margin-top: 15px;
  margin-left: 20px;
  color: white;
  background-color: black;
  padding: 5px 10px;
  border-radius: 60px;
}

.main {
  display: flex;
}

.tab {
  width: 12%;
  padding-left: 20px;
  font-size: 16px;
  overflow: hidden;


}

ul {
  list-style: none;
}

.item {
  display: flex;
  padding: 5px 0;
}

.Home {
  display: flex;
  padding: 5px 0;
  background-color: #d3d3d3;
  border-radius: 10px;
}


.subs {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(204, 199, 199);
}

.you {
  padding-top: 20px;
  font-weight: 700;
  padding-left: 10px;
}

.side-icon {
  margin-left: 10px;
}

.small-box {
  float: right;
  width: 84%;
  display: flex;
  margin-left: 18px;
}

.text-box {
  padding: 10px;
  background-color: rgb(204, 199, 199);
  margin: 0px 10px;
  height: 16px;
  font-size: 16px;
  font-weight: bold;
  align-content: center;
  border-radius: 10px;
}

.main-section {
  width: 86%;
  float: right;
  position: absolute;
  top: 130px;
  right: 0px;
}

.row-1 {
  display: flex;
  padding-left: 10px;
}

.image-box {
  width: 32%;
 
}
.text{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.row-2 {
  display: flex;
   margin-top: 10px;
   padding-left: 10px;
}